{% extends "web/base.html" %}
{% load static %}
{% block content %}

   <section class="faq-breadcrumb pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2>Contact Us Policy for Track & Field :</h2>
                    <br>
                    <h3>Email:</h3>
                    <p>  , trackandfieldmalappuram@gmail.com</p>
                    <br>
                    <h3>Phone:
                    </h3>
                    <p>+91 8075029472, +91 9847549482</p>
                    <br>
                    <h3>Address:
                    </h3>
                    <p>Track&Field Manjeri, road, Pullara, Kerala 673642</p>
                    <br>
                    <h3>Response Time:

                    </h3>
                    <p>We aim to respond promptly during our business hours 9:00AM to 9:00PM.
  </p>
                    <br>
                    <h3>Privacy and Security:

                    </h3>
                    <p>Do not share sensitive information via email or phone. We'll never ask for such details through these channels.
                    </p>

                    <br>
                    <h3>Feedback and Complaints:

                    </h3>
                    <p>Welcome your feedback. For complaints, we'll investigate promptly and keep you informed.


                    </p>
                    <br>
                    <h3>Updates to Contact Information:

                    </h3>
                    <p>Ensure your contact info is accurate. Notify us of any changes promptly.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock %}
