{% extends "web/base.html" %}
{% load static %}
{% block content %}

   <section class="faq-breadcrumb pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2>Track & Field Privacy Policy</h2>
                    <br>
                    <h3>1.Information Collection and Use:</h3>
                    <p>Track & Field collects personal information when you visit our website and make a purchase. This information may include your name, address, email, and phone number. We use this information solely for order processing and customer support.</p>
                    <br>
                    <h3>2.Security:</h3>
                    <p>We take appropriate measures to protect your personal information. Payment details are securely processed, and we do not store your credit card information.</p>
                    <br>
                    <h3>3.Cookies:</h3>
                    <p>Our website uses cookies to enhance your browsing experience. You can disable cookies in your browser settings, but this may affect your ability to use our site. </p>
                    <br>
                    <h3>4.Third-Party Services:</h3>
                    <p>We may use third-party services for analytics and marketing purposes. These services have their own privacy policies, and we encourage you to review them.</p>
                    <br>
                    <h3>5.Communication:</h3>
                    <p>By providing your contact information, you consent to receiving emails and communications from us related to your order and promotions. You can opt-out of promotional emails at any time.</p>

                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock %}
