{% extends "web/base.html" %}
{% load static %}
{% block content %}

   <section class="faq-breadcrumb pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2>Return Policy - Track & Field</h2>
                    <br>
                    <h3>1.Returns and Exchanges:</h3>
                    <p>We accept returns and exchanges for unopened pickle jars within 10 days of the purchase date. Contact our customer support team for assistance.</p>
                    <br>
                    <h3>2.Refund Process:</h3>
                    <p>Refunds for returned pickles will be processed within 10 business days after we receive the unopened jar. The refund will be issued to the original payment method.</p>
                    <br>
                    <h3>3.Damaged or Defective Items:</h3>
                    <p>If your order arrives damaged or with defects, please contact us immediately. We will arrange for a replacement or refund.  </p>

                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock %}
