{% extends "web/base.html" %}
{% load static %}
{% block content %}

   <section class="faq-breadcrumb pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2>Shipping Policy Privacy Policy</h2>
                    <br>
                    <h3>1.Processing and Dispatch:</h3>
                    <p>Orders are typically processed and dispatched within 1-5 business days from the date of purchase. Please note that processing times may vary during peak seasons or promotions.</p>
                    <br>
                    <h3>2.Shipping Methods:</h3>
                    <p>We offer standard and expedited shipping options. The estimated delivery times and costs will be provided at the checkout based on your selected shipping method and location.

                    </p>
                    <br>
                    <h3>3.Shipping Locations:</h3>
                    <p>Track & Field currently ships to addresses within India. For international shipping inquiries, please contact our customer support team at  .

                    </p>
                    <br>
                    <h3>4.Shipping Charges:
                    </h3>
                    <p>Shipping charges are calculated based on the weight of your order and the chosen shipping method. The exact shipping cost will be displayed during the checkout process. </p>
                    <br>
                    <h3>5.Delivery Issues:
                    </h3>
                    <p>In the rare event of delivery issues, such as delays or lost packages, please contact our customer support team immediately. We will work to resolve the issue promptly.
                    </p>
                    <br>
                    <h3>6.Shipping Restrictions:

                    </h3>
                    <p>Certain products may have shipping restrictions based on your location. Please review the product information and shipping details during the checkout process.
                    </p>
                    <br>
                    <h3>7.Incorrect Address:
                    </h3>
                    <p>It is the responsibility of the customer to provide accurate shipping information. Track & Field is not liable for orders shipped to incorrect or incomplete addresses provided by the customer. Please double-check your shipping details before confirming your order.
                    </p>
                    <br>
                    <h3>8.Customs and Duties:
                    </h3>
                    <p>For international orders, customs duties and taxes may apply. These charges are the responsibility of the customer and are not included in the product or shipping costs.
                    </p>
                    <br>
                    <h3>9.Contact Information:
                    </h3>
                    <p>For any shipping-related inquiries or assistance, please contact our customer support team at   or +91 8075029472, +91 9847549482.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock %}
