{% load static %}

<div class="product-box-4">
    <div class="product-image">
        <div class="label-flex">
            <button class="btn p-0 wishlist btn-wishlist notifi-wishlist">
                {% comment %} <i class="iconly-Heart icli"></i> {% endcomment %}
            </button>
        </div>

        <a href="{{item.get_absolute_url}}">
            <img src="{{item.image.url}}" class="img-fluid" alt="">
        </a>

        <ul class="option">
            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view-{{item.id}}">
                    <i class="iconly-Show icli"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="product-detail">
        <a href="{{item.get_absolute_url}}">
            <h5 class="name">{{item.name}}</h5>
        </a>
        <h5 class="price theme-color">₹ {{item.get_product_variant.price}}<del>₹ {{item.get_product_variant.old_price}}</del></h5>
        <div class="price-qty">
            <div class="counter-number">
                <div class="counter d-none">
                    <div class="qty-left-minus" data-type="minus" data-field="">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                    <input class="form-control input-number qty-input" type="text"
                        name="quantity" value="0">
                    <div class="qty-right-plus" data-type="plus" data-field="">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>

            {% comment %} <button class="buy-button buy-button-2 btn btn-cart" data-bs-toggle="modal" data-bs-target="#ProductModal-{{item.slug}}">
                <i class="iconly-Buy icli text-white m-0"></i>
            </button> {% endcomment %}
            <!-- WhatsApp Order Button -->
            <button onclick="orderOnWhatsApp('{{ item.get_absolute_url }}')" class="buy-button buy-button-2 btn bg-success wp-order">
                <i class="bi bi-whatsapp text-white m-0"></i>
            </button>
        </div>
    </div>
</div>

{% include "web/partials/quick-view-modal.html" %}
