{% load static compress %}

<meta content="{{author}}" name="author">
<meta name="keywords" content="" />

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{% static 'static/app/images/favicons/browserconfig.xml' %}?v=1.3">
<meta name="theme-color" content="#ffffff">


{% compress css %}
<link href="{% static 'app/plugins/bootstrap/css/bootstrap.css' %}?v=1.3" rel="stylesheet" />
<link href="{% static 'app/css/style.css' %}?v=1.3" rel="stylesheet" />
<link href="{% static 'app/css/plugins.css' %}?v=1.3" rel="stylesheet" />
<link href="{% static 'app/css/boxed.css' %}?v=1.3" rel="stylesheet" />
<link href="{% static 'app/css/dark.css' %}?v=1.3" rel="stylesheet" />
<link href="{% static 'app/css/skin-modes.css' %}?v=1.3" rel="stylesheet" />
<link href="{% static 'app/css/transparent-style.css' %}?v=1.3" rel="stylesheet">
<link href="{% static 'app/css/animated.css' %}?v=1.3" rel="stylesheet" />
<link href="{% static 'app/css/plugins/jqueryui.css' %}?v=1.3" rel="stylesheet" />
{% endcompress %}

{% block extra_css %}{% endblock %}

<link href="{% static 'app/css/icons.css' %}?v=1.3" rel="stylesheet" />
<link href="{% static 'app/css/custom.css' %}?v=1.3" rel="stylesheet" />
<script src="{% static 'app/plugins/jquery/jquery.min.js' %}?v=1.3"></script>
