<form action="{% url 'tasks:task_update_status' record.pk %}" method="GET" class="task_update_form">
    <select name="status" id="status" class="form-control niceselect" style="width:auto">

        {% if record.status == 'todo' %}
        <option value="todo" {% if record.status == 'todo' %} selected {% endif %}>Todo</option>
        <option value="on_going" {% if record.status == 'on_going' %} selected {% endif %}>On Going</option>
        <option value="on_hold" {% if record.status == 'on_hold' %} selected {% endif %}>On Hold</option>
        <option value="in_review" {% if record.status == 'in_review' %} selected {% endif %}>In Review</option>
        <option value="delayed" {% if record.status == 'delayed' %} selected {% endif %}>Delayed</option>
        <option value="cancelled" {% if record.status == 'cancelled' %} selected {% endif %}>Cancelled</option>
        {% endif %}

        {% if record.status == 'on_going' %}
        <option value="on_going" {% if record.status == 'on_going' %} selected {% endif %}>On Going</option>
        <option value="on_hold" {% if record.status == 'on_hold' %} selected {% endif %}>On Hold</option>
        <option value="in_review" {% if record.status == 'in_review' %} selected {% endif %}>In Review</option>
        <option value="delayed" {% if record.status == 'delayed' %} selected {% endif %}>Delayed</option>
        <option value="cancelled" {% if record.status == 'cancelled' %} selected {% endif %}>Cancelled</option>
        {% endif %}

        {% if record.status == 'on_hold' %}
        <option value="on_hold" {% if record.status == 'on_hold' %} selected {% endif %}>On Hold</option>
        <option value="in_review" {% if record.status == 'in_review' %} selected {% endif %}>In Review</option>
        <option value="delayed" {% if record.status == 'delayed' %} selected {% endif %}>Delayed</option>
        <option value="cancelled" {% if record.status == 'cancelled' %} selected {% endif %}>Cancelled</option>
        {% endif %}

        {% if record.status == 'in_review' %}
        <option value="in_review" {% if record.status == 'in_review' %} selected {% endif %}>In Review</option>
        <option value="delayed" {% if record.status == 'delayed' %} selected {% endif %}>Delayed</option>
        {% endif %}

        {% if record.status == 'delayed' %}
        <option value="delayed" {% if record.status == 'delayed' %} selected {% endif %}>Delayed</option>
        {% endif %}

        {% if record.status == 'rework' %}
        <option value="rework" {% if record.status == 'rework' %} selected {% endif %}>Rework</option>
        <option value="in_review" {% if record.status == 'in_review' %} selected {% endif %}>In Review</option>
        {% endif %}

        {% if record.status == 'cancelled' %}
        <option value="cancelled" {% if record.status == 'cancelled' %} selected {% endif %}>Cancelled</option>
        {% endif %}

        {% if record.status == 'done' %}
        <option value="done" {% if record.status == 'done' %} selected {% endif %}>Done</option>
        {% endif %}

        {% if has_authority %}
            {% if record.status == 'rework' or record.status == 'in_review' %}
                <option value="rework" {% if record.status == 'rework' %} selected {% endif %}>Rework</option>
                <option value="done" {% if record.status == 'done' %} selected {% endif %}>Done</option>
            {% endif %}
        {% endif %}

    </select>
</form>